<section class="new-training" fxLayout fxLayoutAlign="center">
  <mat-card fxFlex.xs="100%" fxFlex="400px">
    <mat-card-title fxLayoutAlign="center"
      >Time to start a workout</mat-card-title
    >
    <mat-card-content fxLayoutAlign="center"
      >Select type of training</mat-card-content
    >
    <mat-form-field fxLayoutAlign="center">
      <mat-label fxLayoutAlign="center">Type of training</mat-label>
      <mat-select>
        <mat-option value="crunches">
          Crunches
        </mat-option>
        <mat-option value="toes touches">
          Toes touches
        </mat-option>
        <mat-option value="side lunges">
          Side lunges
        </mat-option>
        <mat-option value="burpees">
          Burpees
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-card-actions fxLayoutAlign="center"
      ><button type="submit" mat-raised-button color="primary" (click)="onStartTraining()">Start</button>
    </mat-card-actions>
  </mat-card>
</section>
