
 <mat-nav-list>
  <a *ngIf="!isAuth"  mat-list-item routerLink="/signup" (click)="onSidenavClose()"><mat-icon>create</mat-icon>
  <span class="nav-caption">Signup</span></a> 
  <a *ngIf="!isAuth" mat-list-item routerLink="/login" (click)="onSidenavClose()"><mat-icon>vpn_key</mat-icon><span class="nav-caption">Login</span></a>
  <a *ngIf="isAuth" mat-list-item routerLink="/training"(click)="onSidenavClose()" ><mat-icon>fitness_center</mat-icon><span class="nav-caption">Training</span></a>
<mat-list-item>
  <button *ngIf="isAuth" mat-icon-button (click)="onSidenavClose()">
  <mat-icon >eject</mat-icon>
  <span>Logout</span>
</button>
</mat-list-item>
</mat-nav-list>